body {
  background: #dbc65d;
  text-align: center;
  }
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    border: 3px red;
    margin: 2px 4px;
    padding: 50px 50px;
     }

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 3px red;
    margin: 2px 4px;
    padding: 50px 50px;
     }
#ChiangMai {
  background: #005be2;
}
p {
  background #005be2;
}

display: inline;
                margin: 5px;
                padding: 5px;
.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
.nav-menu li {
  display: inline;
  margin: 8px;
  border: 2px #005be2;
  padding: 8px;
}